/* Add to global css */
md-content.md-wemApp-theme, md-content {
	background-color: transparent;
}

.md-datepicker-calendar-pane {
	border-style: initial;
}

.md-datepicker-input {
	max-width: initial;
}

.md-calendar tbody, .md-calendar td, .md-calendar tr {
	border: #e0e0e0;
}

.mainToolbarTop.fixed-toolbar {
	position: fixed;
	top: 0;
}

.wem-mainContainer.with-fixed-toolbar {
	margin-top: 88px;
}

.md-panel.md-tooltip.md-wemApp-theme {
	color: rgba(255, 255, 255, 0.87);
	background-color: rgb(67, 67, 67);
	border-radius: 3px;
	font-size: 12px;
	padding: 2px 8px;
	letter-spacing: .52px;
	margin-top: -1px;
}




/*======= Profile page styles =======*/


/* Overrides for profile page */

.wem-profile .wem-mainContainer {
	max-width: 1460px;
}

.wem-profile .truncate {
	width: auto;
}

/* Left tooltip for property history */
.wem-profile .md-panel.md-tooltip.md-wemApp-theme.md-origin-left {
	margin-left: -36px;
}


/* Left container */

.wem-profile .left-container-card {
	width: 260px;
}

.wem-profile .left-container-card .prof-card-menu {
	position: absolute;
	right: 4px;
	top: 8px;
}

.wem-profile .left-container-card .fixed-profile-card {
	padding: 20px 0 40px 0;
	position: fixed;
	text-align: center;
	width: 260px;
	top: 88px;
}

.fixed-profile-card .profile-picture {
	border-radius: 50%;
	width: 84px;
	margin: 0;
}

.fixed-profile-card .prof-card-fullname {
	margin: 0;
	padding: 0;
	padding-top: 16px;
}

.fixed-profile-card .prof-card-user {
	margin: 4px 0;
	color: rgba(0, 0, 0, 0.64);
	margin-bottom: 24px;
}

.fixed-profile-card .prof-card-user b {
	color: #E0E0E0;
	font-size: 12px;
	padding: 0 8px;
}

.fixed-profile-card .prof-card-user span {
	font-size: 12px;
	font-weight: 600;
	background: #F21D8E;
	padding: 1px 6px;
	border-radius: 20px;
	color: #fff;
	letter-spacing: .4px;
}

.fixed-profile-card .card-user-info {
	margin-top: 8px;
	font-size: 12px;
	font-weight: 600;
	color: #999;
}

.fixed-profile-card .card-user-info span {
	color: #333;
	text-transform: uppercase;
	margin-left: 2px;
}


/* Anonymous profile */

.wem-profile[data-anonym="true"] .fixed-profile-card .md-subhead.prof-card-user {
	display: none;
}

.wem-profile:not([data-anonym="true"]) .fixed-profile-card .anonym-info,
.wem-profile:not([data-anonym="true"]) .fixed-profile-card .anonym-profile-id {
	display: none;
}

.wem-profile .fixed-profile-card .anonym-info {
	margin-bottom: 6px;
	color: rgba(0, 0, 0, 0.87);
	font-size: 16px;
}

.wem-profile .fixed-profile-card .anonym-profile-id {
	margin-bottom: 20px;
	color: rgba(0, 0, 0, 0.4);
	font-size: 14px;
	font-weight: 600;
}




/* Right container */


/* filter bar */

.searchMain {
	position: relative;
	height: 64px;
	border-radius: 2px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	box-sizing: border-box;
	width: 100%;
	margin-top: 8px;
}

.searchMain .searchicon {
	position: absolute;
	top: 0;
	left: 15px;
	line-height: 63px;
}

.searchMain div md-icon {
	color: #bbb;
}

.searchMain input {
	color: #6d6d6d;
	border: none;
	outline: none;
	padding-bottom: 12px;
	padding-top: 12px;
	border-radius: 2px;
	font-size: 16px;
	display: block;
	padding-left: 48px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	background: transparent;
	line-height: 40px;
}



/* Properties */

.card-1.prof-prop-card {
	position: relative;
}

.toggle-group-container {
	position: absolute;
	top: 4px;
	right: 0;
	color: rgba(0, 0, 0, 0.4);
}

.prof-prop-card .profile-prop-row md-select.md-wemApp-theme .md-select-value {
	margin-bottom: 24px;
}

.prof-prop-card .profile-prop-row {
	max-width: 92%;
	margin: 8px auto;
	padding: 0 8px;
	height: 66px;
}

.prof-prop-card .profile-prop-row md-input-container input {
	padding-right: 24px;
}

.prof-prop-card .profile-prop-row .changed-icon i {
	color: rgba(0, 0, 0, 0.24);
	font-size: 18px;
	margin-top: 3px;
}

.prof-prop-card .profile-prop-row .changed-icon .md-button {
	color: rgba(0, 0, 0, 0.24);
	position: absolute;
	font-size: 18px;
	top: 2px;
	right: -1px;
	margin: 0;
	height: 24px;
	width: 24px;
	padding: 0;
	min-width: 24px;
	min-height: 24px;
	cursor: default;
}

.prof-prop-card .prof-card-footer {
	margin: 16px 0 0 0;
}

.prof-prop-card div.smallLabelText {
	box-sizing: border-box;
	padding: 16px 16px;
	margin-bottom: 0;
}

.wem-profile md-datepicker .md-datepicker-input-container {
	width: calc(100% - 64px);
}


/* Analytics */


/* Filters (Top bar) */
.analytics-filters {
	background: #FAFAFA;
	padding: 0 16px;
	border-radius: 2px;
}

.analytics-filters .time-shortcuts-container,
.analytics-filters .custom-range-container {
	margin-left: 16px;
	padding-left: 16px;
	border-left: 1px dashed #d8dbdd;
}

.analytics-filters .time-shortcuts-container {
	padding-top: 11px;
}

.analytics-filters .custom-range-container {
	padding-top: 12px;
}

.analytics-filters .custom-range-container #default-ranges {
	opacity: .64;
}

.analytics-filters .custom-range-container md-datepicker .md-datepicker-input-container {
	width: initial;
	border-bottom: none;
}

.analytics-filters .custom-range-container .datepicker-label {
	padding-left: 20px;
	color: #999;
	font-weight: 400;
	font-size: 12px;
}


/******* Visitor info card *******/

.visitor-info-block {
	padding: 0 0 24px 16px;
	color: rgba(0, 0, 0, 0.52);
	font-size: 16px;
	font-weight: 400;
	padding-top: 4px;
}

.visitor-info-name {
	color: rgba(0, 0, 0, 0.87);
	font-size: 18px;
	font-weight: 400;
	padding-bottom: 4px;
}



/* Profiling */

.profiling-chips md-chip {
	background: rgb(224,224,224);
	color: rgb(66,66,66);
}

.profiling-chips md-chip strong {
	padding-left: 8px;
}

.profiling-header {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px dashed #e0e0e0;
	margin-bottom: 8px;
	padding-bottom: 4px;
}

.profiling-header md-menu,
.profiling-header button {
	float: right;
}



/* Media queries */

@media (max-width: 960px) {

	.prof-prop-card .profile-prop-row {
		height: auto;
		margin: 0 auto;
	}

}

@media (max-width: 958px) {

	.wem-profile .left-container-card .fixed-profile-card {
		top: 68px;
	}

	.wem-mainContainer.with-fixed-toolbar {
		margin-top: 68px;
	}

	.searchMain {
		height: 48px;
		margin-top: 12px;
	}

	.searchMain .searchicon {
		line-height: 47px;
	}

	.searchMain input {
		padding-top: 4px;
		padding-bottom: 4px;
	}

	.analytics-filters {
		padding: 0 8px;
		margin-top: 16px;
	}

	.analytics-filters .time-shortcuts-container,
	.analytics-filters .custom-range-container {
		margin-left: 0;
		padding-left: 0;
		border-left: none;
		margin-bottom: 8px;
		border-top: 1px dashed #d8dbdd;
	}

}

@media (max-width: 840px) {

	.wem-profile .left-container-card {
		width: 240px;
	}

	.wem-profile .left-container-card .fixed-profile-card {
		width: 240px;
	}

}

@media (max-width: 680px) {

	.wem-profile .wem-mainContainer.with-fixed-toolbar {
		display: block;
	}

	.wem-profile .left-container-card {
		width: 100%;
		margin-bottom: 24px;
	}

	.wem-profile .left-container-card .fixed-profile-card {
		position: relative;
		top: 0;
		width: 100%;
	}

}