<!DOCTYPE html>
<html>
    <head>
        <title>Movie Info</title>
        <link rel="stylesheet" href="stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
                            

          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>

<link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">


<link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

  

    </head>
    <body>
        <div class="container">
            
            
        </div>
        
        <div id="landing-header" class="animated zoomIn">
            <h1 style="font-family: 'Nunito', sans-serif">WELCOME TO MOVIE INFO!</h1></br>
        
            </br>
 <div class="ui large buttons">
  <a href="/login"><button class="ui massive inverted green button"><strong>Login</strong></button></a>
  <div class="or"></div>
  <a href="/signup"><button class="ui massive inverted purple button"><strong>Sign Up!</strong></button></a>
</div>



        </div>
        
        <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        </ul>
    </body>
</html>