<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


	<title></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/showpage.css">
  <style>
    .hero:before {
      background: url("https://image.tmdb.org/t/p/w780/<%= data['backdrop_path'] %>");
    }
  </style>

</head>
<body>
<div class="movie-card">
  
  <div class="container">
    
    <img src="https://image.tmdb.org/t/p/w185/<%= data['poster_path'] %>" alt="cover" class="cover" />
        
    <div class="hero">
            
      <div class="details">
      
        <div class="title1" style="color:#fff;"><h1><strong><%= data.original_title %></strong></h1></div>  
        
        <fieldset class="rating">
    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
    <input type="radio" id="star4" name="rating" value="4" checked /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
  </fieldset>


        <span style="color:#fff;"><strong><%= data["vote_average"] %></strong></span>
        <span class="likes" style="color:#fff;"><strong><%= data.vote_count %> likes</strong></span>
        
      </div> <!-- end details -->
      
    </div> <!-- end hero -->
    
    <div class="description"> 
      <div class="column1">
        <% data.genres.forEach(function(genre){ %>
            <span class="tag"><%= genre.name %></span>
        <% }); %>
      </div> <!-- end column1 -->
      
         
    
      
      <div class="column2">
        
        <p><%= data.overview %></p>
        
    
      
          <a class="btn icon-btn btn-success" href="/profile/add"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>&ensp;&ensp;Add To Watch Later</a>
        
      </div> <!-- end column2 -->
    </div> <!-- end description -->
    
   
  </div> <!-- end container -->
</div> <!-- end movie-card -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</body>
</html>