<style>
body{
margin:100px 50px 100px 500px;
}
input{
	margin:5px;
}
</style>

<body>
</body>
    <form action="stats">

        <input type="text" placeholder="candidate name"><br>
         <input type="text" placeholder="candidate name"><br>
         <input type="text" placeholder="candidate name"><br>
        
        <input type="submit" value="create Poll">
    </form>
</body>