<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Lato", sans-serif
    }
    
    .w3-bar,
    h1,
    button {
        font-family: "Montserrat", sans-serif
    }
    
    .fa-anchor,
    .fa-coffee {
        font-size: 200px
    }
    
    #ethereum {
        height: 170px;
        width: 250px;
    }
	
	#form{background-image:url(poll.jpg);
	background-position:center;
	height:300px;
	width:300px;
	margin-left:500px;
	margin-top:150px;
	border:1px solid black;
	padding-left:10px;
	}
</style>

	
	
	</head>



<body>

<div class="w3-top">
        <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
            <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
            <a href="/aboutus" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About
				Us</a>
            <a href="/instruction" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Instructions</a>

        </div>


        
		
		<div id="form">
		
		<h3>Enter Poll details</h3>
		<form action="addcandidate" method="POST">
        <input type="text" placeholder="Name of the Poll" name="name_of_poll><br><br>
        <input type="text" placeholder="No of candidates" name="no_of_candidates"><br><br>
        <input type="submit" value="New Poll">
    </form>
	</div>
    </div>





</body>

</html>