<html>
<style>
body{
	margin:50px;
}
</style>
<body>
<h2>Run our contract through Remix IDE</h2>
1. GUI may not be working due to some recent changes in provider by ethereum team. It is taking time to link user interface with deployed Contract.<br>
2. Check our project running via Remix IDE.<br>
3. Here is the address of our deployed contract  0xe21f87A011AAB8582167A1C1EF977C0D9f39876d.<br>
4. Go to this link <a href="https://remix.ethereum.org/">https://remix.ethereum.org/</a>  <br>
5. And proceed further as stated in the given video<br>
<video width="500px" height="400px" controls>
	 <source src="demoatremixidemp4.mp4" type="video/mp4">
</video>
</body>	
</html>