Click==7.0
Flask==1.0.2
Flask-WTF==0.14.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.0
numpy==1.15.3
pandas==0.23.4
pymongo==3.7.2
python-dateutil==2.7.5
pytz==2018.7
six==1.11.0
Werkzeug==0.14.1
WTForms==2.2.1
